body{
    background-color: #F5F5F5;
    font-family: 'Droid Serif', serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    text-shadow: none;
    text-decoration: none;
    text-transform: none;
    line-height: 1.5;
    color: #333;
}

#wrapper{
    margin: 0 auto;
    width:920px;
}

#header{
    margin: 20px 0 0 0;
    padding: 10px 0 0 0;
}

#footer {
    text-align: center;
}

h1{
    font-size: 90px;
    position:relative;
    top: 30px;
    padding: 20px 0 20px 0.4em;
    margin: 20px 0 20px 0;
}

#profile{
    position:relative;
    top:-55px;
}

#content{
    background: white;
    margin: 1px 8px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    padding: 2em;

    box-shadow: 0 0 2em rgba(0,0,0,0.03)
}

#content p{
    position: relative;
    top:-20px;
}
#profile {
    float: right;
    padding-right: 30px;
}

#footer {
    margin-top: 2em;
}

a img{
    border: none;
}

img {
    transform:rotate(3deg);
    -ms-transform:rotate(3deg);
    -webkit-transform:rotate(3deg);
    height: 250px;
}


a {
    color: #4086C7;
}

a, a:visited{
    text-decoration:none;
}

